@import "tailwindcss";

@theme {
    --color-dark-900: hsl(227, 75%, 14%);
    --color-dark-800: hsl(226, 25%, 17%);
    --color-dark-700: hsl(225, 23%, 24%);
    --color-dark-600: hsl(226, 11%, 37%);
    --color-light-300: hsl(0, 0%, 78%);
    --color-light-200: hsl(217, 61%, 90%);
    --color-light-100: hsl(0, 0%, 93%);
    --color-light-0: hsl(200, 60%, 99);
    --color-acent-400: hsl(3, 86%, 64%);
    --color-acent-500: hsl(3, 71%, 56%);
    --color-acent-700: hsl(3, 77%, 44%);
    --font-family-noto: "Noto Sans", sans-serif;
}

@font-face {
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400 500 700;
    font-display: swap;
    src: url("/src/assets/fonts/NotoSans-VariableFont_wdth_wght.ttf") format("truetype");
}

@layer utilities {
    .bg-light-gradient {
        background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    }
    .bg-dark-gradient {
        background: linear-gradient(180deg, #040918 0%, #091540 100%);
    }
}

body {
    @apply bg-dark-900 text-light-0 font-family-noto
}